{{#link-to 'post' post.id}}
<p>{{post.title}}</p>
{{/link-to}}
<div class="post-page">
  <h2>{{model.title}}</h2><br>
  <img class="article-pics" src="{{model.image}}" alt="" /><br>
  <p>Author: {{model.author}}</p><br>
  {{model.article}}<br>
  {{model.date}}<br>
  {{update-post post=model update="update" destroyPost="destroyPost"}}
  <hr><hr>
  {{new-comment saveComment="saveComment" post=model}}
  {{#each model.comments as |comment|}}
  {{comment-tile comment=comment}}
  {{/each}}

</div>
